@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans 600';
  src: url('../font/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'Open Sans 800';
  src: url('../font/OpenSans-Bold.ttf');
}
body {
  background: url(../img/backgrounds/paper.jpg) 0px 0px no-repeat;
  overflow: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  margin: 0;
}
.hidden {
  opacity: 0;
}
body.cover {
  background: url(../img/backgrounds/paper.jpg) top left no-repeat;
}
body.cover .splash {
  padding: 6%;
}
body.cover h2 {
  text-align: left;
  font-size: 3em;
  padding: 0;
  margin: 0;
  margin-bottom: 20%;
}
body.cover .actions {
  display: block;
  margin: 10% 0 10% 0;
  color: #333;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  padding: 2%;
  border-bottom: 1px solid #999999;
}
#game_container {
  background: transparent;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: top .3s opacity .3s;
  -moz-transition: top .3s opacity .3s;
  -ms-transition: top .3s opacity .3s;
  -o-transition: top .3s opacity .3s;
  transition: top .3s opacity .3s;
}
#game {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}
#social {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #666;
  text-align: right;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 100;
  height: 16px;
  padding: 12px;
}
#social a {
  text-decoration: none;
  opacity: 0.5;
  color: #fff;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -ms-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
#social a:hover {
  opacity: 1.0;
}
#game > #loading,
#game > #credits,
#game > #blank {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: #fff;
}
#game[screen=blank] > #blank {
  background: #fff;
  display: block;
}
#loading > div {
  color: #222;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  width: 100%;
  margin: auto;
  padding-top: 50%;
}
#loading > div > #loading_bar {
  height: 5px;
  background: #fff;
  width: 0;
  -webkit-transition: width .5s;
  -moz-transition: width .5s;
  -ms-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s;
  margin: 10px auto 0;
}
#credits > div {
  width: 320px;
  height: 360px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  margin: auto;
}
#credits a {
  color: #cc2727;
}
#credits a:hover {
  color: #dd3838;
}
#game #background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  z-index: 10;
}
#game #background > div {
  position: absolute;
}
#game #fade-out {
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  -webkit-transition: opacity .8s;
  -moz-transition: opacity .8s;
  -ms-transition: opacity .8s;
  -o-transition: opacity .8s;
  transition: opacity .8s;
}
#game #fade-out.active {
  opacity: 1;
}
#game #choices {
  background: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  height: 30%;
  padding-top: 10px;
  opacity: 1;
  z-index: 100;
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  border-top: 1px solid #eee;
}
#game #choices.active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#game #choices > div {
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
  color: #222;
  text-align: left;
  cursor: pointer;
  position: relative;
  opacity: 0;
  line-height: 150%;
  -webkit-transition: top .3s opacity .3s;
  -moz-transition: top .3s opacity .3s;
  -ms-transition: top .3s opacity .3s;
  -o-transition: top .3s opacity .3s;
  transition: top .3s opacity .3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 2% 2% 2% 6%;
  font-family: "Open Sans 600";
}
#game #choices > div[shown=true] {
  top: 0;
  opacity: 1;
}
#game #choices > div:hover {
  background: #444;
  color: #fff;
}
#game #dialogue {
  position: absolute;
  top: 20px;
  width: 100%;
  cursor: default;
  z-index: 30;
  -webkit-transition: top 0.8s ease-in-out;
  -moz-transition: top 0.8s ease-in-out;
  -ms-transition: top 0.8s ease-in-out;
  -o-transition: top 0.8s ease-in-out;
  transition: top 0.8s ease-in-out;
}
#game #dialogue > div {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  width: 240px;
  border-radius: 0px;
  box-shadow: 2px 2px 4px #ccc;
  clear: both;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-in-out;
  -moz-transition: opacity 0.8s ease-in-out;
  -ms-transition: opacity 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 10px 25px 0 25px;
  padding: 14px;
  background: #fffff0;
}
#game #dialogue > div.conversation {
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
  box-shadow: none;
  font-size: 16px;
  max-width: 220px;
  width: auto;
}
#game #dialogue > div.conversation:after {
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-top: -10px;
  border-color: rgba(255, 255, 255, 0);
  border-width: 10px;
}
#game #dialogue > div.left {
  text-align: left;
  float: left;
}
#game #dialogue > div.left:after {
  right: 100%;
  border-right-color: inherit;
}
#game #dialogue > div.right:after {
  left: 100%;
  border-left-color: inherit;
}
#game #dialogue > div.right {
  text-align: right;
  float: right;
  margin-right: 20px;
}
#game #dialogue > div.action {
  text-align: right;
  float: right;
  margin-right: 20px;
}
#game #dialogue > div.gwama {
  font-family: "Open Sans 600";
}
#game[screen=loading] > #loading,
#game[screen=credits] > #credits {
  display: block;
}
