<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.subreference.gwama"
        versionCode = "04" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>The terrible Nung Gwama</name>

    <description>
        A game fiction based on a traditional Chinese folktale. 
    </description>

    <author href="https://www.subreference.com" email="rmorgan@subreference.com">
        Russell Morgan
    </author>
    
    <gap:platform name="ios" />
    
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />

</widget>